
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Form</title>
	<link rel="stylesheet" type="text/css" href="signup.css">
	<link rel="stylesheet" type="text/css" href="../../../CSS/main.css">
	<script type="text/javascript" src="../../../JS/validator.js"></script>
</head>
<body>
<nav>
		<ul class="top-menu">
			<li><a href="../../../index.html">Home</a></li>
			<li><a href="../../../components/buttons/index.html">Buttons</a></li>
			<li><a href="../../../components/calculator/calculator.html">Calculator</a></li>
			<li><a href="../../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../../components/products/products.html">Products Listing</a></li>
			<li><a href="../../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
	<div class="register">
		<h3>Sign Up Today!</h3>
		<form name="signup">
			<div class="form-input">
				<label for="First Name">First Name:</label>
				<input type="text" placeholder="First Name..." required />
			</div>
			<div class="form-input">
				<label for="Last Name">Last Name:</label>
				<input type="text" placeholder="Last Name..." required />
			</div>	
			<div class="form-input">
				<label for="Email">Email:</label>
				<input id="email" type="email" placeholder="Email..." required />
			</div>
			<div class="form-input">
				<label for="DOB">DOB:</label>
				<input id="dob" type="date" placeholder="mm/dd/yyyy" required />
			</div>
			<div class="form-input">
				<label for="Password">Password:</label>
				<input type="password" placeholder="Password..." required />
			</div>
			<div class="form-submit">
				<input type="submit" value="Sign Up!" action="" />
			</div>			
		</form>
	</div>
	<script type="text/javascript" src="signup.js"></script>
</body>
</html>