.container{
	max-width: 1170px;
	margin: 0px auto;
}

.photo-album-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.photo{
	padding: 5px;
}

.photo:hover{
	cursor: pointer;
}

.photo__title{
	max-width: 150px;
}
