.container{
	max-width: 1170px;
	margin: 0px auto;
}

#all-photos{
	display: flex;
	flex-wrap: wrap;
}

.photo{
	padding: 5px;
}

.photo:hover{
	cursor: pointer;
}

.photo__title{
	max-width: 150px;
}

#gallery-modal{
	width: 100%;
	height: 100%;
	padding: 10px;
}