/* Colors */

$color-white: #F4F4F4;

/* Home page */
$color-home-block: #BD3C1B;
$color-about-block: #D8AD43;
$color-portfolio-block: #3CA98A;
$color-skills-block: #12736E;
$color-client-block: #8F5F8D;
$color-contact-block: #3B2266;

$anim-time: 0.5s;

/* Grid Items */
$item-width: 33.33vw;
$item-height: 50vh;

/* Loader */

$color-loader: #3399CC;