

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

///Color of text throughout the website
///@type Color

$text-color: #2B2D42;
$highlight-color: #EF233C;
$accent-color: #D90429;
$link-color: #8D99AE;
$base-color: #EDF2F4;
$success-color: #009966;
$success-bg: #009966;
$failure-bg: #DF9496;
