.buttonWrapper{
	display: flex;
	justify-content: center;
}

.all-buttons{
	
	margin-top: 80px;

}

button {
	border: none;
	padding: 0;
	font-family: serif;
	background: none;
	font-size: 1em;
}

a{
	text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px; /*Add 2 extra pixels of padding on each side to make up for border in hover state*/
  background: #339fff;
  color: #fff;
  border-radius:18px;
  
  
}

.button:hover{
	padding:8px; /*Remove 2 extra pixels of padding on each side to make up for border in hover state*/
	background-color: #f7f7f7;
	border: 2px solid #339fff;
	color: #339fff;
	cursor: pointer;
}

.button:active{
	background:#eee;
}

.button.button-sm{
	padding: 8px;
	border-radius: 18px;
	
}

.button.button-sm:hover{
	padding:6px;
}

.button.button-md{
	padding: 12px;
	border-radius: 20px;
	
}

.button.button-md:hover{
	padding:10px;
}

.button.button-lg{
	padding: 16px;
	border-radius: 30px;
	
}

.button.button-lg:hover{
	padding:14px;
}

@media(max-width: 360px){
	.all-buttons{
		text-align: center;
	}

	.button{
		text-indent: -9999px;
		width: 20px;
		height:20px;
		border-radius:20px;
		background: #339fff url("assets/check.png") center no-repeat;
	}
}

