body{
  margin:0;
  font-family: $text-font-stack;
  background-color: #eee;
}


/*Main content styles*/

.main-content{
  header{
    padding-top:70px;
    text-align:center;
    h1{
      font-size: 80px;
      color: #ccc;
      font-weight:300;
    }
    p{
      padding: 0 100px;
      color:#444;
      text-align: center;
    }
  }
}

/*End Main Content Styles*/
