// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/*Header styles*/

#show-menu, #nav, #fix-bar{
  display: none;
}

header.top-menu{
  background: linear-gradient(to right, $color-profile-blue, $color-profile-purple);
  border-bottom: 5px solid $color-profile-purple;
  nav{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

header nav section{
  width: 33.33%;
  text-align: center;
  line-height:50px;
  .menu-my-id{
    h3{

    }
  }
}

header section.menu-my-id h3{
  color: #fff;
  vertical-align: middle;
  font-weight: 500;
  padding:0 120px;
  margin:0;
}

.menu-main{
  li{
    display: inline;
    a{
      color: #fff;
      font-weight:300;
      padding: 10px 10px 16px 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      text-decoration: none;
      &:hover{
        background-color: $color-profile-purple;
        color:#fff;
      }
    }
    .active{
      background-color: $color-profile-purple;
      color:#fff;
    }
  }
}

.menu-search{
  position:relative;
  label{
    font-size:10px;
    color:#fff;
    position: absolute;
    top:-16px;
  }
  input{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    line-height: 13px;
    padding:5px;
    font-size:13px;
  }
  a{
    background-color: transparent;
    border:1px solid #fff;
    color:#ddd;
    padding:5px;
    border-radius:3px;
    margin-left: 5px;
    &:hover{
      background-color: #fff;
      color: $color-profile-purple;
    }
  }
}
