body{
	
	font-family: "Roboto", sans-serif;
}

.searchWrapper{
	display: flex;
	justify-content: center;
}

.search-form-input div{
	display: inline-block;
	margin-right: -5px;
}

.search-form{
	margin-top: 80px;
}

.search-form-input .category-list select{
   	background: transparent;
    width: 50px;
   	padding: 9.5px 3px;
   	font-size: 16px;
   	border: 1px solid #A2AB58;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://i.imgur.com/D35T3Bg.png) 96% / 15% no-repeat #eee;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.search-form-input .search-box{
	width:50%;
}

.search-form-input .search-box input{
	width:100%;
	font-size: 16px;
	padding: 9px 5px;
	border-radius: 0 0 0 0;
	border-top: 1px solid #A2AB58;
	border-bottom: 1px solid #A2AB58;
	border-left: none;
	border-right: none;
}


.search-form-input .search-button{
	border: 1px solid #A2AB58;
	background-color: #67BCDB;
	padding: 9px 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-left-radius: 0;
}

.search-form-input .search-button a{
	color: #fff;
	text-decoration: none;
}
