<!DOCTYPE html>
<html>
<head>
	<title>Search Form</title>
	<link type="text/css" rel="stylesheet" href="search.css">
</head>
<body>
	<div class="search-form">
		<h3>Find All The Answers Today</h3>
		<form class="category-search">
			<div class="search-form-input">
				<div class="category-list">
					<select name="list-of-categories">
						<option>Life</option>
						<option>Life</option>
						<option>Life</option>
						<option>Life</option>
					</select>
				</div>
				<div class="search-box">
					<input type="text" name="search" placeholder="Typee here..." />
				</div>
				<div class="search-button">
					<a href="#">GO!</a>	
				</div>
				
			</div>
		</form>
	</div>
</body>
</html>