<!DOCTYPE html>
<html>
<head>
	<title>
		Product Listing
	</title>
	<link rel="stylesheet" type="text/css" href="products.css">
	<link rel="stylesheet" type="text/css" href="../../CSS/main.css">
</head>
<body>
<nav>
		<ul class="top-menu">
			<li><a href="../../index.html">Home</a></li>
			<li><a href="../../components/buttons/button.html">Buttons</a></li>
			<li><a href="../../components/calculator/calculator.html">Calculator</a></li>
			<li><a href="../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../components/forms/forms.html">Products Listing</a></li>
			<li><a href="../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
<div class="products-cart">
	<div class="product-listing clearfix">
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
		<div class="quarter product">
			<div class="featured-img">
				<img src="http://placehold.it/400x400">
			</div>
			<div class="title">
				<h3>Title</h3>
			</div>
			<div class="short-desc">
				<p>Neque porro quisquam est qui dolorem ipsum...</p>
			</div>
			<div class="price">
				<p>$20.00</p>
			</div>
			<div class="add-to-cart">
				<button>Add To Cart
				</button>
			</div>
		</div>
	</div>
	<div class="cart clearfix">
		<div class="cart-header clearfix">
			<div class="title">
				<h2>Your Shopping Cart</h2>
			</div>
			<div class="steps">
				<div class="step-one current-step">
					<p>1) Review Your Cart</p>
				</div>
				<div class="step-two">
					<p>2) Checkout</p>
				</div>
				<div class="step-three">
					<p>3) Order Complete</p>
				</div>
			</div>
		</div>
		<div class="cart-details clearfix">
			<div class="header">
				<div class="sixth cart-options">
				<h3>Options</h3>
				</div>
				<div class="sixth cart-item">
					<h3>Item</h3>
				</div>
				<div class="third cart-desc">
					<h3>Product Name</h3>
				</div>
				<div class="sixth cart-qty">
					<h3>Quantity</h3>
				</div>
				<div class="sixth cart-price">
					<h3>Price</h3>
				</div>
			</div>
			<div class="body">
				<div class="sixth cart-options">
				<a href="#">Remove</a>
				</div>
				<div class="sixth cart-item">
					<img src="http://placehold.it/70x70">
				</div>
				<div class="third cart-desc">
					<h3>Title</h3>
					<p>Neque porro quisquam est qui dolorem ipsum...</p>
				</div>
				<div class="sixth cart-qty">
					<input type="text" value="1" />
				</div>
				<div class="sixth cart-price">
					<h4><strong>$29.99</strong></h4>
				</div>
				<div class="sixth cart-options">
				<a href="#">Remove</a>
				</div>
				<div class="sixth cart-item">
					<img src="http://placehold.it/70x70">
				</div>
				<div class="third cart-desc">
					<h3>Title</h3>
					<p>Neque porro quisquam est qui dolorem ipsum...</p>
				</div>
				<div class="sixth cart-qty">
					<input type="text" value="1" />
				</div>
				<div class="sixth cart-price">
					<h4><strong>$29.99</strong></h4>
				</div>
				<div class="sixth cart-options">
				<a href="#">Remove</a>
				</div>
				<div class="sixth cart-item">
					<img src="http://placehold.it/70x70">
				</div>
				<div class="third cart-desc">
					<h3>Title</h3>
					<p>Neque porro quisquam est qui dolorem ipsum...</p>
				</div>
				<div class="sixth cart-qty">
					<input type="text" value="1" />
				</div>
				<div class="sixth cart-price">
					<h4><strong>$29.99</strong></h4>
				</div>
			</div>

			<div class="totals clearfix">
				<div class="sixth coupons">
					<input type="text" placeholder="Enter coupon code">
					<button>Apply</button>
				</div>
				<div class="sixth labels">
					<p>Sub Total:</p>
					<p>Shipping:</p>
					<p>Total:</p>
				</div>
				<div class="sixth figures">
					<p>$89.97</p>
					<p>$2.00</p>
					<p>$91.97</p>
				</div>
			</div>

			<div class="footer clearfix">
				<div class="continue half">
					<button>Continue Shopping</button>
				</div>
				<div class="checkout half">
					<button>Checkout</button>
				</div>
			</div>
			
		</div>
		
	</div>
</div>
</body>
</html>