<!DOCTYPE html>
<html>
<head>
	<title>
		Schedule an Appointment
	</title>
	<link rel="stylesheet" type="text/css" href="schedule.css">
	<link rel="stylesheet" type="text/css" href="../../../CSS/main.css">
	<script type="text/javascript" src="../../../JS/validator.js"></script>
</head>
<body>
<nav>
		<ul class="top-menu">
			<li><a href="../../../index.html">Home</a></li>
			<li><a href="../../../components/buttons/index.html">Buttons</a></li>
			<li><a href="../../../components/calculator/calculator.html">Calculator</a></li>
			<li><a href="../../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../../components/products/products.html">Products Listing</a></li>
			<li><a href="../../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
<div class="scheduler">
	<h3>Schedule an Appointment Today!</h3>
	<form>
		<div class="form-input half">
			<label for="Date">Date</label>
			<div>
				<input id="date" type="date" placeholder="mm/dd/yyyy">
			</div>
		</div>
		<div class="form-input half">
			<label for="Date">Time</label>
			<div>
				<input id="time" type="time" placeholder="Enter time">
			</div>
		</div>
		<div class="form-input whole">
			<label for="Date">Time Zone</label>
			<div>
				<select>
					<option>European Central Time	GMT+1:00</option>
					<option>Eastern European Time	GMT+2:00</option>
					<option>(Arabic) Egypt Standard Time	GMT+2:00</option>
					<option>Eastern African Time	GMT+3:00</option>
					<option>Middle East Time	GMT+3:30</option>
					<option>Near East Time	GMT+4:00</option>
					<option>Pakistan Lahore Time	GMT+5:00</option>
					<option>India Standard Time	GMT+5:30</option>
					<option>Bangladesh Standard Time	GMT+6:00</option>
				</select>
			</div>
		</div>
		<div class="form-input whole">
			<label for="Date">Message</label>
			<div>
				<textarea rows="10" cols="30">
					
				</textarea>
			</div>
		</div>
		<div class="form-input half">
			<label for="Date">Phone</label>
			<div>
				<input id="phone" type="text" placeholder="Phone">
			</div>
		</div>
		<div class="form-input half">
			<label for="Date">Email</label>
			<div>
				<input id="email" type="email" placeholder="Email">
			</div>
		</div>
		<div class="form-submit">
			<div>
				<input type="submit" value="Schedule Appointment!">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="schedule.js"></script>
</body>
</html>