.carouselComponent{

	height: 600px;
	position: relative;
	.carouselItems{
		@include display-flex(flex);
		@include justify-content(flex-end);
		@include flex-direction(column);
		@include align-items(center);
		height: 600px;
		position:relative;
		width: 100%;
		input{
		  display: none;
			&:checked + .carousel-content{
				visibility: visible;
			}
		}
		.carousel-content{
		  /* @include transition(all, 0.25s, ease-in-out); */
		    @include display-flex(flex);
			@include justify-content(center);
			display: block;
			height: 100%;
			position: absolute;
			right: 0px;
			top: 0px;
			visibility: hidden;
			width: 100%;


			.back{
				left: 0;
				padding: 0;
				position: absolute;
				top: 50%;
				width: 25px;
			}
			.forward{
				left: 97%;
				padding: 0;
				position: absolute;
				top: 50%;
				width: 25px;
			}
			&__contentWrapper{
				@include display-flex(flex);
				@include justify-content(center);
				@include align-items(center);
				@include flex-direction(column);
				height: 600px;
				padding: 0 50px;
				.overview{
					@include align-self(flex-start);
					h3{
						font-size: 30px;
						font-weight: 300;
						margin: 5px 0;
					}
					p{
						font-size: 16px;
					}
					.highlighted{
						font-weight: 700;
					}
				}
				.project-links{
					@include align-self(flex-start);
					font-size: 18px;

					a{
						color: $color-project-links;
						margin-right: 10px;
						&:hover{
							color: $color-portfolio-block;
						}
					}
				}
				.project-image{
					img{
						max-width: 100%;
					}
				}
		    
			}
		}
	}
	.bullets{
		font-size: 16px;
		label{
			padding: 5px;
		}
		z-index: 400;
	}
}



/* Color the carousel bullets */

/* Calculator */

#calcOne:checked ~ .bullets label[for="calcOne"]{
	color: $color-portfolio-block;
}

#calcTwo:checked ~ .bullets label[for="calcTwo"]{
	color: $color-portfolio-block;
}

#calcThree:checked ~ .bullets label[for="calcThree"]{
	color: $color-portfolio-block;
}

#calcFour:checked ~ .bullets label[for="calcFour"]{
	color: $color-portfolio-block;
}

/* Collab */

#collabOne:checked ~ .bullets label[for="collabOne"]{
	color: $color-portfolio-block;
}

#collabTwo:checked ~ .bullets label[for="collabTwo"]{
	color: $color-portfolio-block;
}

#collabThree:checked ~ .bullets label[for="collabThree"]{
	color: $color-portfolio-block;
}

#collabFour:checked ~ .bullets label[for="collabFour"]{
	color: $color-portfolio-block;
}