.skills__container{
	@include display-flex(flex);
}

.skill__chart{
	@include display-flex(flex);
	border-bottom: 1px solid $color-white;
	font-size: 14px;
	height: auto;
	margin: 2%;
	position: relative;
	width: 33.33%;
	&__y{
		@include display-flex(flex);
		@include flex-direction(column);
		@include justify-content(space-around);
		p{
			margin: 20px 0px;
			padding-right: 5%;
			text-align: right;
		}
		
	}
	&__x{
		width: 100%;
		.expertise{
			@include display-flex(flex);
			@include justify-content(space-around);
			@include align-items(flex-end);
			height: 100%;
			list-style-type: none;
			margin: 0;
			padding-left: 10px;
			&__item{
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				height: 30px;
				margin: 0;
				position: relative;
				width: 30px;
				.x-value{
					bottom: -100px;
					left: -25px;
					position: absolute;
					transform: rotate(50deg);
					width: 200px
				}
			}

		}
	}
}

.orange{
	background: $color-orange-bar;
}

.blue{
	background: $color-blue-bar;
}

.bright-green{
	background: $color-bright-green-bar;
}

.pink{
	background: $color-pink-bar;
}

.yellow{
	background: $color-yellow-bar;
}

.moss-green{
	background: $color-moss-green-bar;
}

.sea-green{
	background: $color-sea-green-bar;
}

.dull-purple{
	background: $color-dull-purple-bar;
}

.light-purple{
	background: $color-light-purple-bar;
}