.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	height: 0; /* Avoid second scroll bar in Chrome! */
	visibility: hidden;
	z-index: 400;
	overflow: hidden;
	&--show{
		height: 100vh;
		pointer-events: auto;
		visibility: visible;
		color:$color-white;
	}
}

/* scroll helper wrap */
.scroll-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
	color:$color-white;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	padding: 60px 60px 120px 60px;
	pointer-events: none;
	font-size: 0.85em;
	p {
		max-width: 1200px;
		margin: 1em auto;
		text-align: justify;
	}
	.title{
		text-transform: uppercase;
		font-size: 2em;
		position: relative;
	}
	&--show{

		@include transition(opacity, 0.6s);
		height: auto;
		min-height: 100vh;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
	&__inner{
		
	}
}

.close-button{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	cursor: pointer;
	padding: 20px 30px;
	border: none;
	background: none;
	color: $color-grey;
	font-size: 18px;
}


#aboutContent-block{
	.title{
		h2{
			&::before{
				content: 'A';
				font-size: 3em;
				position: absolute;
				left: 1%;
				bottom: -70%;
				opacity: 0.3;
			}
		}
	}	
}

#portfolioContent-block{
	.title{
		h2{
			&::before{
				content: 'P';
				font-size: 3em;
				position: absolute;
				left: 1%;
				bottom: -70%;
				opacity: 0.3;
			}
		}
	}	
}

#skillsContent-block{
	.title{
		h2{
			&::before{
				content: 'S';
				font-size: 3em;
				position: absolute;
				left: 1%;
				bottom: -70%;
				opacity: 0.3;
			}
		}
	}	
}

#clientsContent-block{
	.title{
		h2{
			&::before{
				content: 'C';
				font-size: 3em;
				position: absolute;
				left: 1%;
				bottom: -70%;
				opacity: 0.3;
			}
		}
	}	
}

#contactContent-block{
	.title{
		h2{
			&::before{
				content: 'C';
				font-size: 3em;
				position: absolute;
				left: 1%;
				bottom: -70%;
				opacity: 0.3;
			}
		}
	}	
}




