.contact-card-container{
	@include perspective(800px);
	@include display-flex(flex);
	@include justify-content(center);
	margin-top: 5%;
	input{
		display: none;
	}
}

.contactCard{

	@include transition(all, 0.5s, ease-in-out);
	@include transform-style(preserve-3d);
	@include border-radius(3px);
	background-color: transparent;
	height: $card-height;
	position: relative;
	width: $card-width;
	&__back{
    /* initially rotate the element in the back so that when the card is flipped, it faces the viewer */
		@include border-radius(3px);


    background: url("../images/mani.jpg");
    background-size: cover;
    position: relative;
		transform: rotateX(180deg);
	}
	&__front{
		@include display-flex(flex);
		@include flex-direction(column);
		@include justify-content(space-around);
		@include border-radius(3px);
		background: url("../images/bg2.png");
		background-size: cover;
		padding: 20px;
	}
	&__footer{
			@include display-flex(flex);
			@include justify-content(space-between);
		}
	&__encyclopedia{
		@include display-flex(flex);
		@include justify-content(flex-start);
	}
	&__encyclopediaLogo{
		padding-right: 8%;
	}
	&__encyclopediaLink{
		@include no-space;
		font-size: 14px;
		margin: 0px!important
	}
	&__excerpt{
		font-size: 16px;
				font-weight: 400;
				margin-bottom: 3px;
				margin-top: 0;
	}
	&__info{
			@include display-flex(flex);
				@include no-space;
				list-style-type: none;
	}
	&__infoItem{
		  padding-right: 3%;
			font-size: 14px;
	}
	&__link{
		color: $color-card-link;
		text-decoration: none;
	}
	&__title{
			@include no-space;
			font-weight: 400;
		font-size: 33px;		
	}
	&__position{
		margin-top: 8px;
			font-weight: 300;
		font-size: 18px;
		margin-bottom: 0;
	}
	&__social{
		@include display-flex(flex);
					@include no-space;

					list-style-type: none;
	}
	&__nameBubble{
		@include border-radius(3px);
  	position: absolute;
  	top: 85%;
  	left: 2%;
  	color: $color-card-link;
  	background-color: rgba(255, 255, 255, 0.7);
  	padding: 5px 10px;
  	font-size: 14px;
	}
}

.face {
    position: absolute; 
    width: 100%;
    height: 100%;
    /* prevent the front face from showing through the back */
    backface-visibility: hidden;
}

.face:hover{
	cursor: pointer;
}

.contact-card-container input[type="radio"]#front:checked ~ .contactCard{
	transform: rotateX(180deg);
}



 

