.content {
	height: 0; /* Avoid second scroll bar in Chrome! */
  left: 0;
  overflow: hidden;
  pointer-events: none;
	position: absolute;
	top: 0;
  visibility: hidden;
	width: 100%;
	z-index: 400;
	&--show{
    color:$color-white;
		height: 100vh;
		pointer-events: auto;
		visibility: visible;
	}
}

/* scroll helper wrap */
.scroll-wrap {
  height: 100%;
  left: 0;
  overflow-y: scroll;
	position: absolute;
  top: 0;
	width: 100%;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
	color:$color-white;
  font-size: 0.85em;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 60px 60px 120px 60px;
  pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	p {
    margin: 1em auto;
		max-width: 1200px;
		text-align: justify;
	}
	.title{
		font-size: 2em;
		position: relative;
    text-transform: uppercase;
	}
	&--show{

		@include transition(opacity, 0.6s);
		height: auto;
		min-height: 100vh;
		opacity: 1;
    pointer-events: auto;
		visibility: visible;
	}

}

.close-button{
  background: none;
  border: none;
  color: $color-grey;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  padding: 20px 30px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	&:focus{
		outline: none;
		
	}
}

.fancy-title{
  bottom: -70%;
  font-size: 3em;
  opacity: 0.3;
  position: absolute;
  left: 1%;
}


#aboutContent-block{
	.title{
		h2{
			&::before{
        @extend .fancy-title;
				content: 'A';

			}
		}
	}	
}

#portfolioContent-block{
	.title{
		h2{
			&::before{
        @extend .fancy-title;
				content: 'P';
			}
		}
	}	
}

#skillsContent-block{
	.title{
		h2{
			&::before{
        @extend .fancy-title;
				content: 'S';
			}
		}
	}	
}

#clientsContent-block{
	.title{
		h2{
			&::before{
        @extend .fancy-title;
				content: 'C';
			}
		}
	}	
}

#contactContent-block{
	.title{
		h2{
			&::before{
        @extend .fancy-title;
				content: 'C';
			}
		}
	}	
}




