.grid{
	position: relative;
	@include display-flex(flex);
	@include flex-wrap(wrap);
	/* @include flex-direction(column);*/
	@include justify-content(flex-start);
	height: 100vh;
}

.grid::after {
	content: '';
	background: rgba(202,202,202,0.4);
	opacity: 0;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include transition(opacity, $anim-time)
	/* -webkit-transition: opacity $anim-time;
	transition: opacity $anim-time; */
}

.view-single .grid::after {
	opacity: 1;
}

.grid__item{
	display: block;
	width: $item-width;
	overflow: hidden;
}

.featured-item p{
	@include no-space;
}

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
	pointer-events: none;
	position: absolute;
	width: calc(100% + 5px);
	height: calc(100vh + 5px);
	z-index: 100;
	top: 0;
	left: 0;
	background: #888;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.placeholder.placeholder--trans-in {
	-webkit-transition: -webkit-transform $anim-time;
	transition: transform $anim-time;
	-webkit-transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
	transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}

.placeholder.placeholder--trans-out {
	-webkit-transition: -webkit-transform $anim-time;
	transition: transform $anim-time;
}