.portfolio__container{
	width: 100%;
}

.tabComponent{
	width: 100%;
	position: relative;
	min-height: 600px;
	&__tab{
		@include display-flex(flex);
		label{
			width: 25%;
			padding: 15px;
		}
		> input{
			display: none;
			&:checked ~ .tabComponent__tab__content{
				opacity: 1;
		    z-index: 300;
			}
			&:checked ~ label {
				background-color: $color-current-tab;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
		}
		&__content{
			@include transition(all, 1s, ease-in-out);
			min-height: 600px;
			background-color: $color-current-tab;
			padding: 10px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			width: 75%;
			position: absolute;
			top: 0px;
			right: 0px;
			opacity: 0;

		}
	}
}