.contact__card__container{
	@include perspective(800px);
	@include display-flex(flex);
	@include justify-content(center);
	margin-top: 5%;
	input{
		display: none;
	}
}

.contactCard{
	position: relative;
	@include transition(all, 0.5s, ease-in-out);
	@include transform-style(preserve-3d);
	@include border-radius(3px);
	height: $card-height;
	width: $card-width;
	background-color: transparent;
	label{

		&:hover{
			cursor: pointer;
		}
	}
	&__back{
    /* initially rotate the element in the back so that when the card is flipped, it faces the viewer */
    transform: rotateX(180deg);
    @include border-radius(3px);
    background: url("../images/mani.jpg");
    background-size: cover;
    position: relative;
    .name{
    	@include border-radius(3px);
    	position: absolute;
    	top: 85%;
    	left: 2%;
    	color: $color-card-link;
    	background-color: rgba(255, 255, 255, 0.7);
    	padding: 5px 10px;
    	font-size: 14px;
    }
	}
	&__front{
		padding: 20px;
		background: url("../images/bg2.png");
		background-size: cover;
		@include display-flex(flex);
		@include flex-direction(column);
		@include justify-content(space-around);
		@include border-radius(3px);
		&__title{
			h2{
				@include no-space;
				font-weight: 400;
			font-size: 33px;

			}
			p{
				margin-top: 8px;
				font-weight: 300;
			font-size: 18px;
			margin-bottom: 0;
			}
			
		}
		&__desc{
			p{
				font-size: 16px;
				font-weight: 400;
				margin-bottom: 3px;
			}
			ul{
				@include display-flex(flex);
				@include no-space;
				list-style-type: none;

				li{
					
					padding-right: 3%;
					font-size: 14px;
					a{
						color: $color-card-link;
						text-decoration: none;
					}
				}
			}
		}
		&__footer{
			@include display-flex(flex);
			@include justify-content(space-between);
			.encyclopedia__info{
				@include display-flex(flex);
				@include justify-content(flex-start);
				&__logo{
					padding-right: 8%;
				}
				p{
					@include no-space;
					font-size: 14px;

				}
				a{
					color: $color-card-link;
					text-decoration: none;
				}
			}
			.social__links{
				ul{
					@include display-flex(flex);
					@include no-space;

					list-style-type: none;

					li{
						padding-right: 3%;
					}
				}
			}
		}
	}
}

.face {
    position: absolute; 
    width: 100%;
    height: 100%;
    /* prevent the front face from showing through the back */
    backface-visibility: hidden;
}

.contact__card__container input[type="radio"]#front:checked ~ .contactCard{
	transform: rotateX(180deg);
}



 

