.contact__card__container{
	@include perspective(800px);
	@include display-flex(flex);
	@include justify-content(center);
	margin-top: 5%;
	input{
		display: none;
	}
}

.contactCard{
	position: relative;
	@include transition(all, 0.5s, ease-in-out);
	@include transform-style(preserve-3d);
	height: 250px;
	width: 400px;
	border: 1px solid #333;
	label{
		&:hover{
			cursor: pointer;
			@include box-shadow(0 48px 88px -40px $color-white);
		}
	}
	&__back{
    /* initially rotate the element in the back so that when the card is flipped, it faces the viewer */
    transform: rotateX(180deg);
	}
}

.face {
    position: absolute; 
    width: 100%;
    height: 100%;
    /* prevent the front face from showing through the back */
    backface-visibility: hidden;

}

.contact__card__container input[type="radio"]#front:checked ~ .contactCard{
	transform: rotateX(180deg);
}



 

