<!DOCTYPE html>
<html>
<head>
	<title>Profile Summary</title>
	<link rel="stylesheet" type="text/css" href="profile.css">
	<link rel="stylesheet" type="text/css" href="../../CSS/main.css">
</head>
<body>
	<nav>
		<ul class="top-menu">
			<li><a href="../../index.html">Home</a></li>
			<li><a href="../../components/buttons/index.html">Buttons</a></li>
			<li><a href="../../components/calculator/calculator.html">Calculator</a></li>
			<li><a href="../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../components/products/products.html">Products Listing</a></li>
			<li><a href="#">Profile</a></li>
		</ul>
	</nav>
	<div class="profile">
		<div class="name">
			<p>Imanuel <strong>Gittens</strong></p>
		</div>
		<div class="photos">
			<div class="featured-pic">
				<img src="./assets/images/me1.jpg">
			</div>
			<div class="thumbnail-pics">
				<div class="thumb thumb-one">
					<img src="./assets/images/me2.jpg">
				</div>
				<div class="thumb thumb-two">
					<img src="./assets/images/me3.jpg">
				</div>
				
			</div>
		</div>
		<div class="about">
			<p>
				My name is Imanuel Gittens and I'm from Trinidad and Tobago. I'm a bit of a health nut, so I
				 love exercising. I also like video games and of course I love the web. I want to be an awesome full stack developer one day and create my own startup. 
			
		</div>
		<div class="link">
			<a href="#">Back To Full Profile</a>
		</div>
		
	</div>
</body>
</html>