.color-builder-wrapper{
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.interactive-color-builder{
	width: 600px;
	border: 1px solid #999999;
	padding: 10px 20px;
	border-radius: 3px;
	box-shadow: 3px 3px 5px #67BCDB;
	
	color: #333;
	font-family: "Roboto", sans-serif;
	margin-top:80px;
}

.interactive-color-builder h3{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 0;
}

.interactive-color-builder .color-builder, .color-result{
	display: inline-block;
}

.color-builder{
	float: left;
	width: 50%;
}

.form-input label{
	display: block;
	width: 100px;
}

.form-input input{
	margin: 0;
}

.color-result{

	width: 50%;
}

.color-result textarea{
	background-color: rgba(127, 127, 127, 0.5);
	border: 1px solid #999999;
	border-radius: 3px;
}

.color-code{
	padding-top: 10px;
}

.color-code input{
	line-height: 1.5em;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #999999;
}

@media (max-width: 600px){
	.interactive-color-builder h3{
		font-size: 14px;
	}

	.interactive-color-builder .color-builder{
		display: block;
		text-align:center;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		padding: 5px;
		border-radius: 3px;
		overflow: auto;
		width:100%;
	}

	.color-result{
		width:100%;
	}

	.color-result textarea{
		width:100%;
	}

	.color-code input{
		width:100%;
	}

}

@media (max-width: 360px){
	.interactive-color-builder .color-builder{
		display: block;
		text-align:center;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		padding: 5px;
		border-radius: 3px;
		overflow: auto;
		width:100%;
	}

	.color-result{
		width:100%;
	}

	.color-result textarea{
		width:100%;
	}
}
