.portfolio-wrapper{
	@include display-flex(flex);
	@include flex-direction(column);
	@include justify-content(center);
	margin: 3% 7%;
	min-height: 95vh;
	height: 95vh;
	background-color: $white-color;
}