<!DOCTYPE html>
<html>
<head>
	<title>Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="questionnaire.css">
</head>
<body>
	<div class="questionnaire">
		<h3>Tell Me Your Secrets</h3>
		<form>
			
				<label><strong>1. What is your favourite food?</strong></label>
				<div class="form-input">
					<input type="radio" name="fav-food" />Pie
					<input type="radio" name="fav-food" />Cake
					<input type="radio" name="fav-food" />Pizza
					<input type="radio" name="fav-food" />Ice Cream
					<input type="radio" name="fav-food" />Other
				</div>
			
			
				<label><em>If you've chosen OTHER, enter your favourite food here.</em></label>
				<div class="form-input">
					<input type="text" placeholder="You favourite food..." />
				</div>
			
			<div class="form-submit">
				<input type="submit" value="SUBMIT!" action="" />
			</div>
		</form>
	</div>
</body>
</html>