<!DOCTYPE html>
<html>
<head>
	<title>Questionnaire</title>
	<link rel="stylesheet" type="text/css" href="questionnaire.css">
	<link rel="stylesheet" type="text/css" href="../../../CSS/main.css">
</head>
<body>
<nav>
		<ul class="top-menu">
			<li><a href="../../../index.html">Home</a></li>
			<li><a href="../../../components/buttons/index.html">Buttons</a></li>
			<li><a href="../../../components/calculator/calculator.html">Calculator</a></li>
			<li><a href="../../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../../components/products/products.html">Products Listing</a></li>
			<li><a href="../../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
	<div class="questionnaire">
		<h3>Tell Me Your Secrets</h3>
		<form>
			
				<label><strong>1. What is your favourite food?</strong></label>
				<div class="form-input">
					<input type="radio" name="fav-food" />Pie
					<input type="radio" name="fav-food" />Cake
					<input type="radio" name="fav-food" />Pizza
					<input type="radio" name="fav-food" />Ice Cream
					<input type="radio" name="fav-food" />Other
				</div>
			
			
				<label><em>If you've chosen OTHER, enter your favourite food here.</em></label>
				<div class="form-input">
					<input type="text" placeholder="You favourite food..." />
				</div>
			
			<div class="form-submit">
				<input type="submit" value="SUBMIT!" action="" />
			</div>
		</form>
	</div>
</body>
</html>