<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
	<link rel="stylesheet" type="text/css" href="../../CSS/main.css">
</head>
<body>
	<nav>
		<ul class="top-menu">
			<li><a href="../../index.html">Home</a></li>
			<li><a href="../../components/buttons/index.html">Buttons</a></li>
			<li><a href="#">Calculator</a></li>
			<li><a href="../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../components/products/products.html">Products Listing</a></li>
			<li><a href="../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
	<div class="calculator">
		<form>
			<div class="form-input quarter target">
				<label></label>
				<button>C</button>
			</div>
			<div class="form-input three-quarters target">
				<label></label>
				<input type="text" placeholder="" />
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>7</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>8</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>9</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>+</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>4</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>5</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>6</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>-</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>1</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>2</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>3</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>/</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>0</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>.</button>
			</div>
			<div class="form-input quarter equal">
				<label></label>
				<button>=</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>x</button>
			</div>
		</form>
	</div>

</body>
</html>