<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
</head>
<body>
	<body>
	<div class="calculator">
		<form>
			<div class="form-input quarter target">
				<label></label>
				<button>C</button>
			</div>
			<div class="form-input three-quarters target">
				<label></label>
				<input type="text" placeholder="" />
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>7</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>8</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>9</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>+</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>4</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>5</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>6</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>-</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>1</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>2</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>3</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>/</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>0</button>
			</div>
			<div class="form-input quarter">
				<label></label>
				<button>.</button>
			</div>
			<div class="form-input quarter equal">
				<label></label>
				<button>=</button>
			</div>
			<div class="form-input quarter symbol">
				<label></label>
				<button>x</button>
			</div>
		</form>
	</div>
</body>
</body>
</html>