<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="calculator.css">
	<link rel="stylesheet" type="text/css" href="../../CSS/main.css">
	<script type="text/javascript" src="calculator.js"></script>
</head>
<body>
	<nav>
		<ul class="top-menu">
			<li><a href="../../index.html">Home</a></li>
			<li><a href="../../components/buttons/index.html">Buttons</a></li>
			<li><a href="#">Calculator</a></li>
			<li><a href="../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../components/products/products.html">Products Listing</a></li>
			<li><a href="../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
	<div class="calculatorWrapper">
		<div class="calculator">
			<form>
				<div class="form-input quarter">
					<label></label>
					<button id="delete">DEL</button>
				</div>
				<div class="form-input quarter target">
					<label></label>
					<button id="clear">C</button>
				</div>

				<div class="form-input half target">
					<label></label>
					<input id="result" type="text" placeholder="" />
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="seven">7</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="eight">8</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="nine">9</button>
				</div>
				<div class="form-input quarter symbol">
					<label></label>
					<button id="plus">+</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="four">4</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="five">5</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="six">6</button>
				</div>
				<div class="form-input quarter symbol">
					<label></label>
					<button id="minus">-</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="one">1</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="two">2</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="three">3</button>
				</div>
				<div class="form-input quarter symbol">
					<label></label>
					<button id="divide">/</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="zero">0</button>
				</div>
				<div class="form-input quarter">
					<label></label>
					<button id="decimal">.</button>
				</div>
				<div class="form-input quarter equal">
					<label></label>
					<button id="equals">=</button>
				</div>
				<div class="form-input quarter symbol">
					<label></label>
					<button id="multiply">x</button>
				</div>
			</form>
		</div>
	</div>
	

</body>
</html>