<!DOCTYPE html>
<html>
<head>
	<title>All Forms</title>
	<link rel="stylesheet" type="text/css" href="forms.css">
	<link rel="stylesheet" type="text/css" href="../../CSS/main.css">
</head>
<body>
<nav>
		<ul class="top-menu">
			<li><a href="../../index.html">Home</a></li>
			<li><a href="../../components/buttons/index.html">Buttons</a></li>
			<li><a href="../../components/calculator/calculator.html">Calculator</a></li>
			<li><a href="../../components/forms/forms.html">Forms</a></li>
			<li><a href="../../components/products/products.html">Products Listing</a></li>
			<li><a href="../../components/profileSummary/index.html">Profile</a></li>
		</ul>
	</nav>
<div class="forms">
	<div>
		<a href="./color-builder/color.html">Color Builder</a>
	</div>
	<div>
		<a href="./login/login.html">Login</a>
	</div>
	<div>
		<a href="./pay/pay.html">Pay</a>
	</div>
	<div>
		<a href="./questionnaire/questionnaire.html">Questionnaire</a>
	</div>
	<div>
		<a href="./schedule/schedule.html">Schedule</a>
	</div>
	<div>
		<a href="./search/search.html">Search</a>
	</div>
	<div>
		<a href="./shipping/shipping.html">Shipping</a>
	</div>
	<div>
		<a href="./signup/signup.html">Sign Up</a>
	</div>
</div>
</body>
</html>