*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.forms{
	margin-top: 80px;
}

.forms div{
	margin: 10px;
	padding: 50px;
	color: #fff;
	background-color: #67BCDB;
	width: 20%;
	display: inline-block;
}

.forms div a{
	color: #fff;
}